/*Change the font family of body <tag> to avenir next*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Use the list-style property to remove dots from <li> tags*/
li{
    list-style: none;
}

.header{
    background-color: #f7f2b4;
    height: 90px;
}

.header-logo{
    float: left;
    font-size: 36px;
    /*Change the top & bottom padding to 20px, and left & right padding to 40px*/
    padding:20px 40px ;
}
.header-list li{
    float: left;
    padding: 40px 20px;
   

}
.header-list li a{
    text-decoration: none;
}
.main{
    height: 1000px;
    width: 100%;
    padding: 100px 100px;
    
}
/* Change the font-size of <h3> tags within copy-container to 140px */
.copy-container h3{
    font-size: 40px;
    align-content: center;
}
/*set the height of the contents*/
.contents{
    height: 500px;
    
}
h3{
    border-bottom: 2px solid #dee7de;
    padding-bottom: 13px;
    margin-bottom: 50px;
    font-size: 28px;
    color: #237523;
}

/*set the float property of contents-item*/
.contents-item{
    float: left;
}
.contents-item img{
    height: 400px;
    width: 400px;
    padding-left: 10px;
}


    

/*Putting style on the entire footer*/
.footer{
    height: 120px;
    padding: 40px;
    background-color: #8c8b91;

}
.footer-logo{
    /*Change footer-logo's float property to left and font-size to 32px*/
    float: left;
    font-size: 32px;
}
.footer-list{
    /*Change footer-list's float property to right*/
    float: right;
}
.footer-list li{
    padding-bottom: 20px;
    
}
.footer-list li a{
    text-decoration: none;

}
.mainProducts{
    height: 600px;
    padding: 50px 20px;
    background-color: #237523;
    
}
.products-list{
    background-color: rgb(201, 147, 147);
    padding: 20px ;
    display: none;
    position: absolute;
    margin-top: 20px;
}
.products-list a{
    width: 120px;
    display: block;
    
}
.pro:hover .products-list{
    display: block;
    
    
}
.eatwell img{
    width: 100%;
    height: 500px;

}
.veg{
   font-size: 40px;
    margin-left: 35%;
    color:#1bd61b;
    margin-top: 0px;
}

    
.greensimg{
    display: inline-block;
    padding: -left 10px;
}
.greensimg img{
    height: 150px;
    width: 150px;
    padding: 10px;
    border-style: ridge;
   
}
h4 ,h5, button{
    margin: 5px;

}


    
    



    




